<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<p>Confirm Deletion - The delete is permanent.</p>

<div class="delete-inventory-form">
    <form id="deleteForm" action="/inv/delete" method="post">
        <input type="hidden" name="inv_id"
        <% if (locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>

        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" readonly>
    
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" readonly>
    
        <label for="inv_year">Year:</label>
        <input type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" readonly>
    
        <label for="inv_price">Price:</label>
        <input type="number" step="0.01" id="inv_price" name="inv_price" value="<%= inv_price %>" readonly>
    
        <button type="submit">Delete Vehicle</button>
    </form>
</div>
